@import '../../helpers/vars';
@import '../../helpers/mixins';

.catalog {
  @include listReset();

  $gutter: 80px;
  $gutter-half: $gutter / 2;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: ($gutter-half * -1);
  margin-right: ($gutter-half * -1);
  
  &__item {
    min-width: 0;
    margin-left: $gutter-half;
    margin-right: $gutter-half;
    margin-bottom: $gutter;

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }
}
